/*body of the all posts*/

body {
    background-color: orange !important;
}


/*tagline color*/

#tagline {
    color: white;
}


/*contains all the posts*/

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*block fo each post*/

.post-block {
    width: 45%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px;
    border-radius: 15px !important;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-height: 170px !important;
    justify-content: space-around;
}


/*left portion(author name) of the post*/

.left {
    width: 20%;
    max-width: 20%;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    color: #000;
    overflow: hidden !important;
    padding: 1%;
}


/*right portion(tile and content) of the post*/

.right {
    text-align: left;
    width: 73%;
    background-color: #E8E8E8;
    color: #000000;
    padding: 3% 4px 3% 3%;
}


/*title of the post*/

.post-title {
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    overflow: hidden;
    height: 24%;
    margin-top: 2%;
}


/*post body*/

.post-body {
    font-family: 'Libre Baskerville', serif;
    margin-top: 4%;
    overflow: hidden !important;
    margin-bottom: 5%;
    height: 50%;
}


/*favicons - trash and ecilips*/

.icons {
    background-color: #E8E8E8;
    width: 7%;
    text-align: left;
    padding-right: 15px !important;
}


/*reash icon*/

.delete {
    cursor: pointer;
    font-size: 18px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: 12%;
}


/*ecilips icon*/

.more {
    cursor: pointer;
    font-size: 18px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: 67%;
}


/*delete*/

.del-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*yes button of the modal*/

#yes-btn {
    background-color: #f44336;
    /* Red */
    border: none;
    color: white;
    padding: 3% 15% !important;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}


/*no button of the modal*/

#no-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 3% 15% !important;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}


/*heading of delete modal*/

#dtitle {
    font-size: 18px;
    margin: 20px;
}


/*content of delete modal*/

#deleteContent {
    width: 35% !important;
    margin-top: 18%;
}