#logo {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: blue;
    margin: 0;
}

#tagline {
    font-family: 'Marck Script', cursive;
    font-size: 10;
    color: black;
    margin: 0;
    position: relative;
    bottom: 5px;
}

.top-container {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-buttons {
    margin: 15px;
}

.butn {
    margin-left: 5px;
    background-color: blue;
    padding: 7px 18px;
    color: white;
    border-color: rgb(226, 223, 245);
    cursor: pointer;
    font-family: Abel;
}


/*  modals  */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin-left: 35%;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 30% !important;
    height: auto;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 35px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    outline: none;
    font-family: Abel;
    background-color: rgb(241, 233, 233);
    color: rgb(100, 99, 99);
    border: 0;
    margin-bottom: 10px;
    font-size: 14px !important;
}

.label-text {
    font-weight: bold;
    margin: 20px 0 3px;
    font-family: Abel;
    font-size: 16px;
}

.modal-head {
    display: flex;
    flex-direction: column;
}

.modal-title {
    align-self: center;
    font-family: Abel;
    font-weight: bold;
}

.bottom-banner {
    position: relative;
    top: 10px;
    text-align: center;
    font-family: Abel;
    font-weight: bolder;
}

.signin-btn,
.signup-btn {
    background-color: green;
    padding: 15px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.signUpBottom {
    color: blue;
    font-weight: bolder;
    cursor: pointer;
}