#logo {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: blue;
    margin: 0;
}

#tagline {
    font-family: 'Marck Script', cursive;
    font-size: 10;
    color: black;
    margin: 0;
    position: relative;
    bottom: 5px;
}

.top-container {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-buttons {
    margin: 15px;
}

.butn {
    background-color: blue;
    padding: 7px 18px;
    color: white;
    font-size: 15px;
    border-color: rgb(151, 137, 235);
}